#upload_window {
  z-index: 1200;
  min-width: 400px;
  max-width: 95vw;
}
#upload_window,
#update_profile_window {
  overflow: hidden;
}

#upload_image_form {
  z-index: 4;
}

.form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 95%;
  z-index: -1;
}

img #uploading_image {
  width: 90%;
  margin-left: 5%;
  max-height: 75vh;
}

#upload_btn {
  width: 90%;
  margin-left: 5%;
}

.form-control#upload {
  width: 90%;
  margin-left: 5%;
}
.input-group {
  width: 90%;
}

.btn-outline-secondary:hover {
  background-color: #00b7ff;
}

.del-icon {
  font-size: 1.5em;
  color: grey;
}

.del-icon:hover {
  color: #00b7ff;
}

/* Animation */
/* blocks */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  -webkit-transition: 1000ms ease-out;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

.rightcontainer {
  z-index: 1;
}

#author {
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

#bio_content {
  font-size: xx-small;
  font-family: "Noto Sans KR", sans-serif;
}

#username {
  font-size: large;
  font-weight: bold;
}

#bio {
  font-size: xx-small;
}

#name_in_comments {
  font-weight: bold;
  font-family: "Merriweather", serif;
}

#text_in_comments {
  font-family: "Merriweather", serif;
}
