body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}

div {
  font-family: "Libre Baskerville", serif;
}

.navbar {
  background: -webkit-linear-gradient(top, #d2d2d2, #f9f9f9);
  z-index: 3;
}

.row#nav_content {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00b7ff;
}

.social-icon,
.fa-plus,
.fa-house-user {
  color: grey;
}

#shade {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
}

.fa-plus:hover,
.fa-house-user:hover {
  color: #00b7ff;
  cursor: pointer;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
