body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

.input-group {
  width: 90%;
}

.input-group>.form-control {
  width: 100%;
}