body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
}

div {
  font-family: cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00B7FF;
}

.social-icon, .fa-plus, .fa-heart {
  color: grey;
}

.fa-plus:hover, .fa-heart:hover {
  color: #00B7FF;
  cursor: pointer;
}

.navbar {
  background: -webkit-linear-gradient(top, #d2d2d2, #f9f9f9);
}

#upload_window {
  overflow: hidden;
}

.form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 95%;
  z-index: -1;
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

.input-group {
  width: 90%;
}

.btn-outline-secondary:hover {
  background-color: #00B7FF;
}

.del-icon {
  font-size: 1.5em;
  color: grey;
}

.del-icon:hover {
  color: #00B7FF;
}

/* Animation */
/* blocks */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  -webkit-transition: 1000ms ease-out;
}

.active {
  opacity: 1;
  transform: translateY(0);
}